<header class="main-header">
  <div class="logo-container">
    <h1><a href="/">DINOPEDIA</a></h1>
    <span class="slogan"><i class="bi bi-tree-fill"></i> La Enciclopedia Libre de Dinosaurios</span>
  </div>
  <div class="search-container" id="global-search-container">
    <input id="search-bar" type="text" placeholder="Buscar en la jungla...">
    <button class="search-btn"><i class="bi bi-search"></i></button>
  </div>
  <div class="admin-link">
    <nav id="auth-nav"></nav>
  </div>
</header>
<div class="header-divider"></div>
